/**/
/*Dica: sempre fazer a imagem do projeto no photoshop etc, para codar já tendo uma referência visualdo projeto*/

:root{/*Declaração de variáveis: cores*/
    --vermelho: #E50914;
    --preto: #141414;
}

*{ /*Reset - Série de comandos para zerar vizualição do css, para
    a aparência do código, em qualquer navegador ficar igual*/
    margin: 0; /*Retira as margens de qualquer elementos*/
    padding: 0; /*Retira os preenchimentos de qualquer elementos*/
    box-sizing: border-box; /*Impede que os elementos saiam da caixa*/
}

/*elementos base*/
body { 
    background: var(--preto);
    font-family: 'Arial', Times, serif; /*A primeira é a fonte principal e as outras só serão usadas se não puder usar a primeira*/
    color:white;
}

header .container{ /*A tag header é do html e o container é uma classe criada pelo usuário*/
    display: flex; /*Flex box, alinha os itens ao arquivo de cima?*/
    flex-direction: row; /*Organização por linha(row) é o padrão de display flex, por isso não precisa ser colocado*/
    align-items: center; /*alinhamento vertical centralizado*/
    justify-content: space-between;/*Alinhamento horizontal, separando o h2 do nav*/
}

header .logo{
    margin: 5px;
    color:var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{ /*Formatação das categorias da netflix*/
    text-decoration: none; /*Retira as linhas embaixo dos links*/
    color: #AAA;
    margin-right: 10px; /*Separa os links para melhorar a vizualização de opções*/
}
header nav a:hover{/*hover- Muda as caracteristicas quando o mouse passa sobre*/
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    
    background-image:
  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/Recriando-a-tela-da-Netflix/Imagens/divertidamente-capa.jpg');
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/background-image - Link que me ajudou a colocar uma transparência preta 
    sobre a imagem, o da aula não funcionou*/

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center; /*Segue a mesma direção do flex-direction, se o flex é coluna ()/vertical, o justify-content também se referirá ao vertical*/
    align-items: flex-start;
    

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: space-evenly;
    
}

.filme-principal .titulo{
    margin-top: 15%; /*Importante deixar em porcentagem para ser mais flexível*/
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

/*Formatação dos botões do filme principal*/
.filme-principal .botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px; /*O 15 px o preenchimento superior e inferior e o 30 é dos lados*/
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 3s ease all; /*Coloca um delay na transição de cores quando passsamos o mouse sobre*/
}

/*Mudança do padrao de cor quando passamos o mouse sobre o botão*/
.filme-principal .botao:hover{
    background-color: white;
    color: black;
    
}

.filme-principal .botao i {
    margin: 8px;
}
/*
# Wraper = envelopar 
Alguns programadores  consideram Wrappers e containers a 
mesma coisa, outros não, já que possuem a mesma função
*/
.container{ /*Modificar todos os containers do código, 
    incluindo o do nome Netflix*/
    margin: 2.5%; /*Margem em porcentagem para ajudar na responsividade*/
}
/*Para modificar apenas um container específico:*/
.filme-principal .container{
    width: 70%; /*Largura*/
}

/*Configuração das caixas dos filmes*/
.box-filme{
    height: 100%;
    width: 100%;
    display: block ;/*Pesquisar para que serve issos*/
}

.carrossel-filmes{
    margin-top: 5px;
}